body {
	background: #C5BD99;
}
#header {
	width: 50%;
	margin: auto;
	text-align: center;
}

#strings {
	/*border: 1px solid blue;*/
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
}

#strings > div {
/*	border: 1px solid black;
	padding: 5px;*/
}

img {
	width: 100px;

}