body {
	background: #C5BD99;
	font-family: 'Asap Condensed', sans-serif;

}
#header {
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: 70px;
}

#strings {
	/*border: 1px solid blue;*/
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
}

#strings > div {
/*	border: 1px solid black;
	padding: 5px;*/
}

img {
	width: 100px;
}


.changeTurtle {
	text-align: center;
}

#donny {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#donny > div {
	display:flex;
}

#donny > div > div {
	width: 20px;
	height: 20px;
	/*border: .5px solid black;*/
	background: white;
}

#donny > div >.black {
	background: rgb(43, 43, 43);
}

#donny > div >.lightGreen {
	background: rgb(40, 212, 38);
}

#donny > div >.darkGreen {
	background: rgb(0, 128, 1);
}

#donny > div >.purple {
	background: purple;
}

#donny > div > .red {
	background: rgb(251, 2, 6);
}

